
@{
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Content/stylesheets/style.css" />
    <title>Lỗi</title>
</head>
<style>
</style>
<body>
    <div class="container">
        <div class="body-error">
            <img src="/Content/images/permissions.svg" alt=""><br>
            <h2>Nội dung bạn tìm kiếm không hợp lệ</h2>
            <p>Trang bạn đang tìm không hợp lệ <strong id="url-error"></strong></p>
            <a href="/" class="btn btn-primary" role="button">Quay lại trang chủ</a>
        </div>

    </div>

</body>
<script>
    window.onload = () => {
        document.getElementById("url-error").innerHTML = window.location.pathname ;
    }
</script>
</html>
